*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255) ;
}
.continer{
    width: 470px; 
    height: 547px; 
   border:2px solid rgb(255, 255, 255) ;
   position: relative;
   top:140px;left: 355px; 
}
.box{
    width: 50px; 
    height: 545px; 
   border:1px solid rgb(250, 249, 249) ;
   
}
.chaild{
    width: 50px; 
    height:50px ; 
   border:1px solid rgb(255, 255, 255) ;
   display:inline-block;
 background-color: rgb(177, 4, 4);
 border-radius: 5%;
}
.one{
    position: absolute;
    left: 432px;
    margin-top: 54px;
}
.two{
    position: absolute;
    left: 382px;
}
.three{
    position: absolute;
    left: 332px;
}
.four{
    position: absolute;
    left: 282px;
    margin-top: 54px;
}
.five{
    position: absolute;
    left: 232px;
    margin-top: 108px;
}
.sex{
    position: absolute;
    left: 182px;
    margin-top: 54px;
}
.seven{
    position: absolute;
    left: 132px;
}
.eait{
    position: absolute;
    left: 82px;
}
.nain{
    position: absolute;
    left: 32px;
    margin-top: 54px;
}